@import "base/variables";

//foundation fix
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

//component styles
@import "components/navigation";
@import "components/clock";
@import "components/controls";
@import "components/title";

body {
    background-color: $pomTan;
}
a {
    color: whitesmoke;
}
a:hover {
    color: $wheatThins;
}
a:focus {
    color: $wheatThins;
}
