@import "base/variables";
@import "components/navigation";
@import "components/clock";

body {
    background-color: $pomTan;
}
a {
    color: whitesmoke;
}
a:hover {
    color: wheat;
}
a:focus {
    color: wheat;
}
